main {
			width: 100%;
			
			display: flex;
				
			flex-direction: row;
				
			justify-content: flex-start;
		}
	
		main #left-side {
			width: 25%;

			background-color: hsla(11, 72%, 84%, 1);

			display: flex;

			flex-direction: column;
			
			justify-content: flex-start;
		
			padding: 2px; 
			
			margin: 1px auto;
			
			text-align: center-right; 
			
			color: black;
		}
		
		
		img { 
			width: 150px;
			
			height: 150px;
			
			border-radius: 50%;
			
			margin: 2em auto;
		}
	  
		#contact-heading {
			background-color: rgb(39, 37, 37);

			color: hsla(11, 72%, 84%, 1);

			padding: 0.5em;

			text-align: center;
		}
		
		#proffessional-summary{
			background-color: rgb(39, 37, 37);

			color: hsla(11, 72%, 84%, 1);

			padding: 0.5em;

			text-align: center;
		}
		
		#hobbies{
			background-color: rgb(39, 37, 37);

			color: hsla(11, 72%, 84%, 1);

			padding: 0.5em;

			text-align: center;
		}
	  
		main #right-side {
			width: 75%;

			background-color: hsla(214, 82%, 60%, 1);

			display: flex;
				
			flex-direction: column;
				
			justify-content: flex-start;
		    
			padding: 1em; 
			
			text-align: center-right; 
			
			color: black;
		} 
		
		#div1 {
				float: left;
		}
		
	  
		#education {
			width: 67%;
			
			background-color: rgb(39, 37, 37);
			
			display: flex;
			
			flex-direction: column;
			
			justify-content: flex-start;
			
			color: hsla(214, 82%, 60%, 1);
			
			float: left;

			font-size: 26px;
			
			border-bottom: 1px solid black;
			
			padding: 1px;
		
			margin: 2px;
		}
	
		#experience {
			width: 67%;
			
			background-color: rgb(39, 37, 37);
			
			display: flex;
			
			flex-direction: column;
			
			justify-content: flex-start;
			
			color: hsla(214, 82%, 60%, 1);
			
			font-size: 26px;
			
			border-bottom: 1px solid black;
			
			padding: 1px;
		
			margin: 2px;
		} 
	  
		#references {
			width: 67%;
			
			background-color: rgb(39, 37, 37);
			
			display: flex;
			
			flex-direction: column;
			
			justify-content: flex-start;
			
			color:hsla(214, 82%, 60%, 1);
			
			font-size: 26px;
			
			border-bottom: 1px solid black;
			
			padding: 1px;
		
			margin: 2px;
		}	

		p {
		font-size: 16px;
		
		padding: 1em;
		
		margin: 2px;
		
		color: #000000;
		}

		h1,h5 {	
				text-style: italic;
				font: Arial;
		}
		
		@media only screen and (min-width: 678px) {
						
			width: 100%;
			
			display: flex;
			
			flex-direction: row;
				
			justify-content: flex-start;
		}
		
		@media only printer and (min-width: 812px) {
			
			width: 100%;
			
			display: flex;
			
			flex-direction: row;
				
			justify-content: flex-start;
		}
		
		@media all and (max-width: 1000px;) {
			
			width: 100%;
			
			display: flex;
			
			flex-direction: row;
				
			justify-content: flex-start;
		}
